.header {
    grid-column: 1/4;
    grid-row: 1/2;
    display: flex;
    justify-content: space-between;

}

.header-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.typewriter h1 {
    color: rgb(91, 81, 81);
    font-family: Courier;
    font-size: 16px;
    overflow: hidden;
    border-right: .15em solid rgb(14, 14, 13);
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation:
        typing 3.5s steps(30, end),
        blink-caret .5s step-end infinite;
}
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: rgb(14, 14, 13)
    }
}
#menu,
#menu-check {
    display: none;
}

.nav-ul {
    display: flex;
    flex-direction: row;
}

.nav-ul li {
    display: inline-flex;
    gap: 2rem;
    padding-top: 20px;
    padding-left: 20px;
}

.nav-ul a{
    text-decoration: none;
    color: #282d32;  
}

.nav-ul li:hover {
    background-color: rgba(34, 34, 34, 0.25);
}

#fcf-form {
    display:block;
}

.fcf-body {
    margin: 0;
    font-family: -apple-system, 'Courier New', Courier, monospace;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    color: #212529;
    text-align:left;
    background-color: #fff;
    padding: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 920px;
    border: 2px solid #ced4da;
    border-radius: 0.25rem;
    border-bottom-right-radius: 100;
    max-width: 100%;
}

p{
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    padding-left: 5px;
}
.fcf-form-group {
    margin-bottom: 1rem;
}

.fcf-input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.fcf-form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: rgb(255, 255, 255);
    background-clip: padding-box;
    border: 1px solid #ced4da;
    outline: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.fcf-form-control:focus {
    border: 1px solid #313131;
}

select.fcf-form-control[size], select.fcf-form-control[multiple] {
    height: auto;
}

textarea.fcf-form-control {
    font-family: -apple-system, 'Courier New', Courier, monospace;
    height: auto;
}

label.fcf-label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.fcf-credit {
    padding-top: 10px;
    font-size: 0.9rem;
    color: #545b62;
}

.fcf-credit a {
    color: #545b62;
    text-decoration: underline;
}

.fcf-credit a:hover {
    color: #000;
    text-decoration: underline;
}

.fcf-btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: darkblue;
    border: 1.5px solid transparent;
    padding: 1rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.5s ease-in-out, border-color 0.15s ease-in-out, box-shadow 1s ease-in-out;
}


    .fcf-btn {
        transition: none;
    }

.fcf-btn:hover {
    color: #212529;
    text-decoration: none;
}

.fcf-btn:focus, .fcf-btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.fcf-btn-primary {
    color: #fff;
    background-color: #000000;
    border-color: #ced4da;
}

.fcf-btn-primary:hover {
    color: black;
    background-color: #0000;
    border-color: black;
    border-radius: 5;
    text-align: center;
}

.fcf-btn-primary:focus, .fcf-btn-primary.focus {
    color: darkblue;
    background-color: #0000;
    border-color: #ced4da;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.fcf-btn-lg, .fcf-btn-group-lg>.fcf-btn {
    padding: 1rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}

.fcf-btn-block {
    display: block;
    width: 100%;
}

.fcf-btn-block+.fcf-btn-block {
    margin-top: 0.5rem;
}

input[type="submit"].fcf-btn-block, input[type="reset"].fcf-btn-block, input[type="button"].fcf-btn-block {
    width: 100%;
    
}

h1 {
    padding-left: 100px;

}
h2{
    padding-left: 55px;
}
p{
    padding-left: 40px;
    padding-right: 100px;
    text-align: justify;
line-height: 2.3;
}

.wrapper iframe{
    padding-left: 150px;
}

iframe {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 700px;
    height:400px;

}
h4{
        padding-top: 20px;
        padding-left: 500px;
}
h5{
    padding-left: 450px;
    padding-top: 15px;
    padding-bottom: 0px;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}

.pie-pagina {
    margin-top: 50px;
    grid-column: 1/4;
    grid-row: 6/7;
    width: 100%;
    background-color: #000;
}

figure{
    display: flex;
    flex-direction: column;
}
.pie-pagina .grupo-1 {

    width: 100%;
    max-width: 1200px;
    padding: 10px 0px;
    align-content: center;
}
.pie-pagina .grupo-1 .box figure {
    width: 100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 150px;
    height: 150px;
}
.pie-pagina .grupo-1 .box h3{
    color: #fff;
    margin-bottom: 20px;
    font-size: 20px;
    text-align:justify;
    font-family: 'Courier New', Courier, monospace;
    padding: auto;
    justify-content: center;
    padding-left: 0.5px;
    text-decoration: none;

}

.pie-pagina .grupo-1 .box p{
    color:#efefef;
    margin-bottom: 10px;
    text-align: center;
}

.red-social{
    justify-content: center;
    display: flex;
    padding-left: 30px;
}

.red-social a{
    text-decoration: none;
    color: #fff;
    transition:all 300ms ease;
    padding-left: 10px;
}


.box .red-social a:hover{
    color:#ced4da;
    align-items: center;
}
.pie-pagina .grupo-2{
    padding: 15px 10px;
    text-align: center;
    color:#545b62;
}
.pie-pagina .grupo-2 small{
    color: #545b62;
    margin-bottom: 20px;
    font-size: 20px;
    text-align:justify;
    font-family: 'Courier New', Courier, monospace;
    padding: auto;
    justify-content: center;
    padding-left: 0.5px;

}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 100%;
        padding:45px 0px;
        align-content: center;
    }
}
